:root {
    --color-gray-green: #687864;
    --color-dark-blue: #31708E; 
    --color-medium-blue: #5085A5;
    --color-light-blue: #8FC1E3;
    --color-white: #F7F9FB;
}

header {
    background-color: var(--color-light-blue);
    height: 10vh;
}