html {
    scroll-behavior: smooth;
}

* {
    font-family: 'Raleway', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --color-medium-green: #0c6f30;
    --color-green: #0a9e40;
    --color-gray-green: #687864;
    --color-dark-blue: #31708E; 
    --color-medium-blue: #5085A5;
    --color-light-blue: #8FC1E3;
    --color-white: #F7F9FB;
}

.img0 {
    background-image: url(../assets/clouds-raychel-sanner-tJv4_dpZF7Y-unsplash.jpg);
    height: 45vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
}

.weather {
    display: flex;
    flex-direction: row;
    background-color: var(--color-light-blue);
    padding: 1rem;
}

.weather_img {
    max-width: 80vh;
}

.text-work {
    padding: 1rem;
    padding-left: 15rem;
    padding-right: 15rem;
    line-height: 200%;
}

.text-work h2 {
    text-align: center;
}

.img1 {
    background-image: url(../assets/rainbow-raychel-sanner-EOFAv8e5wyc-unsplash.jpg);
    height: 45vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
}

.portfolio {
    display: flex;
    flex-direction: row;
    background-color: var(--color-light-blue);
    padding: 1rem;
}

.portfolio_img {
    max-width: 80vh;
}

.img2 {
    background-image: url(../assets/pasture-raychel-sanner-JENNqPM5z9U-unsplash.jpg);
    height: 45vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center bottom;
    background-attachment: fixed;
}

/* Responsive Section */

@media screen and (max-width: 768px) {
    .weather, .portfolio {
        padding: 0.5rem;
        flex-direction: column;
    }

    .weather_img {
        max-width: 90vw;
    }

    .portfolio_img {
        max-width: 90vw;
    }

    .text-work {
        padding: 0.5rem;
        padding-left: 1rem;
        padding-right: 1rem;
    }
}

@media screen and (max-width: 480px) {
    .weather, .portfolio {
        padding: 0.5rem;
        flex-direction: column;
    }

    .weather_img {
        max-width: 90vw;
    }

    .portfolio_img {
        max-width: 90vw;
    }

    .text-work {
        padding: 0.5rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
    }
}
